fire==0.5.0
fonttools==4.39.4 ; python_version >= '3.8'
numpy==1.24.3 ; python_version >= '3.8'
opencv-python==4.7.0.72 ; python_version >= '3.6'
pdf2docx==0.5.6
pipenv==2023.4.29
platformdirs==3.5.1 ; python_version >= '3.7'
pymupdf==1.22.3 ; python_version >= '3.7'
python-docx==0.8.11
setuptools==67.7.2 ; python_version >= '3.7'
termcolor==2.3.0 ; python_version >= '3.7'
virtualenv==20.23.0 ; python_version >= '3.7'
